streamlit
pandas
numpy
matplotlib
plotly
scikit-learn
streamlit-authenticator
reportlab
requests
openai
streamlit-autorefresh
paho-mqtt
networkx
import folium
from streamlit_folium import st_folium
